@{
    ViewData["Title"] = "Chính sách";
}

<main class="section-padding">
    <div class="container">
        <div class="section-title left">
            <p>MENSTYLE</p>
            <h2>Chính sách bảo mật</h2>
        </div>
        <p>Đây là trang mẫu để bạn phát triển thêm khi làm đồ án.</p>
    </div>
</main>
